body{
    margin:0;
    background-color: #e2f6fe;
    display:flex ;
    justify-content: center;
    align-items:center;
    height: 100vh;
}

.Business_card{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #fff;
    display:flex;
    flex-direction: column;
    height: 530px;
    width:300px;
    overflow: hidden;
    border: 2px solid #000034;
    border-radius:10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.Business_card:hover{
    transform: scale(1.05);
    transition:transform 0.3s ease-in-out,border-color 0.3s ease-in-out;
    border-color: #555;
}

.propic{
    width:100%;
    height:80%;
    border-radius:5px;
}

.header{
    background-color:#000034;
    color:white;
    padding:15px;
    text-align: center;
}

.contact-info{
    flex: 1;
    display:flex;
    flex-direction:column;
    padding:15px;
}

.name{
    font-size:1.5em;
    margin-top:10px;
    color: #000034;
    margin-bottom:10px;
    font-weight:bold;
}

.job_title{
    font-size:1em;
    color:#555;
    margin-bottom:10px;
    font-weight:600;
}

.contact_details div{
    margin-bottom: 5px;
    font-size:15px;
}

.social_link{
    margin-top:10px;

}

.social_link a{
    margin-right:10px;
    text-decoration:none;
    color: cornflowerblue;
}